@import '../../../../../../less/variables';
@import '../../../../less/variables';
@import '../../../../less/components/sticky';

@album-personal-signature-color: #777;
@content-body-text-color: #333;
@without-images-moments-box-bg-color: #f1f0f6;
@self-album-wrapper-bg-color: @white;
@content-images-count-color: #383838;

.self-album-wrapper {
  background-color: @self-album-wrapper-bg-color;

  .album-cover-wrapper {
    position: relative;
    height: 8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -.05rem;
    margin-bottom: .9rem;

    .album-personal-wrapper {
      position: absolute;
      height: 1.75rem;
      width: 100%;
      bottom: -.5rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 .4rem;

      .album-avatar {
        height: 100%;
        background-color: @white;
        padding: .05rem;
        border: 1px solid @common-border-color;

        .image-header {
          height: 100%;
        }
      }

      .album-nickname {
        flex: 1;
        margin-right: .5rem;
        font-size: .4rem;
        text-align: right;
        color: @white;
        font-weight: bold;
        text-shadow: 0 0 1px @black;
        margin-top: -.2rem;
      }
    }
  }

  .album-personal-signature {
    padding: 0 .4rem;
    text-align: right;
    font-size: .35rem;
    color: @album-personal-signature-color;
  }

  .weui-sticky-container {
    .weui-sticky-header {
      padding: 0 .4rem;
      visibility: hidden;

      &.stickyed-header {
        visibility: visible;
      }
    }

    + .weui-sticky-container {
      margin-top: .25rem;
    }
  }

  .moments-groups-wrapper {
    + .moments-groups-wrapper {
      margin-top: .25rem;
    }
  }

  .moments-group-wrapper {
    padding: 0 .4rem;
    display: flex;
    align-items: flex-start;

    .moments-group-header {
      width: 25%;

      .moments-time-wrapper {
        font-weight: 700;

        .moments-day {
          font-size: .5rem;
          display: inline-block;

          &.moments-day-relative {
            font-size: .75rem;
          }

          + .moments-month {
            margin-left: .05rem;
          }
        }

        .moments-month {
          font-size: .25rem;
          display: inline-block;
        }

        &.moments-time-diff-0 {
          .moments-day {
            font-size: .75rem;
          }
        }
      }
    }

    .moments-group-body {
      flex: 1;

      .image-moments-photo {
        width: 2rem;
      }

      .moments-content-wrapper {
        display: table;

        .content-wrapper-body {
          display: flex;
          flex-direction: column;
          height: 2rem;
          justify-content: space-between;
          overflow: hidden;

          .content-body-text {
            flex: 1;
            font-size: .35rem;
            color: @content-body-text-color;
            max-height: 1.75rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .content-images-count {
            font-size: .25rem;
            color: @content-images-count-color;
          }
        }

        &.without-images-moments {
          display: block;
          padding: .2rem .1rem;
          background-color: @without-images-moments-box-bg-color;

          .content-wrapper-body {
            height: auto;
          }
        }
      }
    }

    + .moments-group-wrapper {
      margin-top: .15rem;

      .moments-group-header {
        visibility: hidden;
      }
    }
  }

  .self-album-footer {
    margin-bottom: .4rem;
    padding: .8rem 1.2rem;
    position: relative;

    hr {
      color: @common-border-color;
    }

    &:after {
      content: '·';
      color: @common-border-color;
      font-size: .3rem;
      position: absolute;
      padding: 0 .2rem;
      line-height: .3rem;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      background-color: @white;
      margin-top: 1px;
    }
  }
}
