{
  "extends": "stylelint-config-standard",
  "rules": {
    # https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md#stylistic-issues
    "at-rule-empty-line-before": null,
    "comment-empty-line-before": "never",
    "selector-pseudo-element-colon-notation": null,
    "property-no-unknown": [true, { "ignoreProperties": ["box-flex"] }],

    # https://github.com/stylelint/stylelint-config-standard
    "number-leading-zero": "never"
  }
}
