@import '../../../../less/variables';

@new-msg-bg-color: #f43531;
@new-msg-color: @white;

.new-msg {
  background-color: @new-msg-bg-color;
  color: @new-msg-color;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-family: PingFangSC-Regular, 'PingFang SC', 'Hiragino Sans GB', Arial, 'Microsoft YaHei', Helvetica;
  font-style: normal;

  &.new-msg-dot {
    border-radius: 50%;
    width: .225rem;
    height: .225rem;
  }

  &.new-msg-count {
    border-radius: .25rem;
    font-size: .375rem;
    height: .5rem;
    padding: 0 .14rem;
    line-height: .5rem;
    text-align: center;
  }
}
