@import '../../../../less/variables';
@import '../../../../less/mixins/text-ellipsis';
@import '../../less/variables';

.weui-moments-avatar {
  display: table-cell;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  font-size: 0;

  .moments-avatar-group {
    .moments-avatar {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.moments-avatar-group-1 {
      .moments-avatar {
        width: 100%;
        height: 100%;
      }
    }
  }

  + .content-wrapper-body {
    padding-left: .1rem;
  }

  &.weui-moments-avatar-1 {
    .moments-avatar-group {
      width: 100%;
      height: 100%;

      .moments-avatar {
        width: 100%;
        height: 100%;
      }
    }
  }

  // &.weui-moments-avatar-2 {
  //   .moments-avatar-group {
  //     width: 100%;
  //     height: 100%;

  //     .moments-avatar {
  //       display: inline-block;
  //       width: 50%;
  //       height: 100%;
  //       margin-right: .05rem;
  //       box-sizing: border-box;

  //       + .moments-avatar {
  //         padding-right: 0;
  //         margin-left: .05rem;
  //       }
  //     }
  //   }
  // }

  &.weui-moments-avatar-2,
  &.weui-moments-avatar-3,
  &.weui-moments-avatar-4 {
    .moments-avatar-group {
      display: inline-block;
      width: 50%;
      height: 100%;
      padding-right: .05rem;

      .moments-avatar {
        width: 100%;
        height: 100%;
      }

      + .moments-avatar-group {
        padding-right: 0;
        padding-left: .05rem;
      }

      &.moments-avatar-group-2 {
        .moments-avatar {
          height: .95rem;

          + .moments-avatar {
            margin-top: .1rem;
          }
        }
      }
    }
  }
}
